.Container-One-Conteudo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.Container-One-Conteudo:hover {
    cursor: pointer;
}

.Container-Two-Conteudo {
    color: black;
    width: 150px;
    height: 70px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}


