.WhatsApp {
  font-size: 4.375rem;
  color: green;
  margin-left: 113.75rem;
  position: fixed;
  margin-top: 21.875rem;
}

.WhatsApp:hover {
  cursor: pointer;
}

.Container-One-Conteudo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Infos-Centraliza {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.titulo-card {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.Card-Centraliza {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.Card-Pessoas {
  border: 1px solid rgb(230, 230, 230);
  width: 400px;
  height: 400px;
  margin-top: 100px;
}



