.WhatsApp {
  font-size: 4.375rem;
  color: green;
  margin-left: 113.75rem;
  position: fixed;
  margin-top: 21.875rem;
}

.WhatsApp:hover {
  cursor: pointer;
}

.Container-One-Conteudo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Infos-Centraliza {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}





